<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing samples</h1>
<%= render "partials/filter" %> OR
<%= render "search" %>
<%= link_to 'New Sample', new_sample_path %>

<div id="filter_table">
  <%= render 'list' %>
</div>
<br />

