<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing people</h1>
<%= render "partials/filter" %>
<%= link_to 'New Person', new_person_path %>
<%= link_to 'Upload spreadsheet of people', upload_people_path %>
<div id="filter_table">
  <%= render 'list' %>
</div>

<br />

