<script>
  $(document).ready(function() { $(".tablesorter").tablesorter({"theme": "blue"}); });
</script>
<h1>Listing Conditions for People</h1>
<%= render "partials/filter" %>
<%= link_to 'New Person condition', new_diagnosis_path %>
<div id="filter_table">
  <%= render 'list', :diagnoses => @diagnoses %>
</div>
<br />
