<h1>Terminology</h1>

<p>The Genome Management System uses the following terminology:</p>
<p><b>Study:</b> A group of pedigrees that are have the same phenotype of interest.</p>
<p><b>Pedigree:</b> A family of people that are all related through blood or marriage.</p>
<p><b>Membership:</b> The connection between Pedigree and Person.  A person is a member of pedigree X.</p>
<p><b>PersonAlias:</b> Another name that a person is known by.</p>
<p><b>Sample:</b> A particular sample taken from a person (cell line, etc) in at one acquisition.</p>
<p><b>Acquisition:</b> The act of taking a sample from a person.  Multiple blood tubes would be multiple acquisitions.</p>
<p><b>Assay:</b> A test, measurement, or procedure run on all or a portion of a Sample.</p>
<p><b>Phenotype:</b> A characteristic that may be measured.  Not an overall disease, but specific disease characteristics that are observed in a person. For example, Adams-Oliver is not a phenotype, but Cutis marmorata is.</p>
<p><b>Trait:</b> The association between a Person and a Phenotype.  Includes the value for that Phenotype.  For example, in a family that are all typed for the a particular mutation, the Phenotype is that particular mutation.  The trait is whether or not that particular person is positive or negative for that mutation.</p>
