<script>
  $(document).ready(function() {
    $(".tablesorter").tablesorter({widgets: ['zebra']});
  });
</script>

<h1>Listing traits</h1>
<%= render "partials/filter" %>
<%= link_to 'New Trait', new_trait_path %>
<div id="filter_table">
  <%= render 'list', :traits => @traits %>
</div>

<br />

