<script>
  $(document).ready(function() {
    $(".tablesorter").tablesorter({widgets: ['zebra']});
  });
</script>
<h1>Listing relationships</h1>
<%= render 'partials/filter' %>
<div id="filter_table">
<%= render 'list' %>
</div>

<%= link_to 'New Relationship', new_relationship_path %>
