<script>
  $(document).ready(function() { $(".tablesorter").tablesorter({"theme": "blue"}); });
</script>
<h1>Listing Files</h1>
<%= render "partials/filter" %>

<% unless params[:pedigree_filter].nil? or params[:pedigree_filter][:id].blank? %>
  <p><b>Files for Pedigree <u><%= Pedigree.find(params[:pedigree_filter][:id]).name %></u></b></p>
<% end %>
<div id="filter_table">
  <%= render 'list', :assembly_files => @assembly_files %>
</div>
<br />

<%= link_to 'New Assay file', new_assembly_file_path %>
