<h1>Genome Management System</h1>
<p>Welcome to the GMS.  This system is used to store pedigree information for various studies and show locations of files related to various pedigrees and samples.</p>
