<h1>CGI Manifest Format Explanation</h1>
<p><b>Version:</b> v3.5</p>

<p>The CGI Manifest format is designed to supply necessary data to CGI so that they can perform whole genome sequencing on you samples.  It contains some pedigree relationship information, but not a full set of pedigree relationship information.  You must create the Pedigree and Disease that segregates within that pedigree before uploading the people in that pedigree.</p>
<p>While some CGI Manifests contain information about multiple pedigrees, to upload the information into GMS, you must <u>only load information for one pedigree at a time</u>.  Otherwise, you will have to edit people individually and reassign them to the correct pedigree, though relationship information should be correct.</p>
<p>An example CGI manifest is not available for download on this site because all CGI manifests must be requested from the appropriate CGI Project Manager.</p>
<p>Below is an image of an example CGI Manifest that contains information on a husband and wife, their three children, and the wife's mother.</p>
<%= image_tag("CGI_manifest_example.png", :size => "1100x400") %>

<ul>
  <li><b>Complete Genomics Sample ID -</b> This is the Sample ID assigned by the vendor.  For Complete Genomics, these IDs start with GSXXXXX-DNA_<well>.  For example, GS10101-DNA_A01.  This is not able to be changed in a CGI manifest.</li>
  <li><b>Well -</b> This is the well in the plate where this sample should be placed.  This is not able to be changed in a CGI manifest.</li>
  <li><b>Customer Initials -</b> Initials of the person filling out the sheet.</li>
  <li><b>Customer Sample ID -</b> This is the Customer's Sample ID.  This is the identifier for the sample that was sent to be sequenced.  This field must be unique.  There can be multiple Samples per subject, but the name must be unique.</li>
  <li><b>Customer Subject ID -</b> This is the Customer's Subject ID.  This is the identifier for the person.</li>
  <li><b>Part Number -</b> This is the part number of the sequencing that is going to be done on this sample.</li>
  <li><b>Gender -</b> The biological gender of the person.</li>
  <li><b>Volume -</b> The volume of sample sent.</li>
  <li><b>Concentration -</b> The concentration of DNA in the sample.</li>
  <li><b>Quantity -</b> The quantity of DNA in the sample.</li>
  <li><b>Sample Type -</b> This should be the value 'DNA' for almost all entries.</li>
  <li><b>Sample Source -</b> The type of sample.  This value should be one of the following: saliva, blood, skin, cell line, lymphoblasts, tissue, tumor.  If you have a sample of a different type, then contact the adminstrator to add your sample source.</li>
  <li><b>Tumor Status -</b> Whether this sample is a tumor or not.</li>
  <li><b>Replaced Sample -</b> If this sample is a replacement for a previous sample, then the previous sample's Customer Sample ID should be provided in this column.</li>
  <li><b>CGI Sales Order -</b> The sales order associated with this plate of samples.</li>
  <li><b>Mother's Subject ID -</b> This is the Customer Subject ID for the mother of the person in the current line.  This person can be entered in this spreadsheet, but also can already exist in the database.  If this Customer Subject ID is not found in the database or in the spreadsheet then there will be an error.</li>
  <li><b>Father's Subject ID -</b> This is the Customer Subject ID for the father of the person in the current line.  This person can be entered in this spreadsheet, but also can already exist in the database.  If this Customer Subject ID is not found in the database or in the spreadsheet then there will be an error.</li>
  <li><b>Ethnicity -</b> Optional.  The ethnicity of the person in the current line.</li>
  <li><b>Phenotype -</b> This is the status of the individual in the current line with regards to the major disease segregating in this pedigree.  The only values accepted are 'unaffected' and 'affected'.  If there are multiple diseases segregating in this pedigree, pick the one with the most affecteds and enter that data via the spreadsheet, then add other diseases through the Pedigree and Person interface.</li>
  <li><b>Comments -</b> Comments about this person.</li>
</ul>
