<script>
  $(document).ready(function() { setupTablesorter() });
</script>
<h1>Listing assays</h1>
<%= render "partials/filter" %>
<%= link_to 'New Assay', new_assay_path %>

<div id="filter_table">
  <%= render 'list' %>
</div>
<br />

