<script>
  $(document).ready(function() { $(".tablesorter").tablesorter({"theme": "blue"}); });
</script>
<h1>Listing Assemblies</h1>
<%= render "partials/filter" %>

<% unless params[:pedigree_filter].nil? or params[:pedigree_filter][:id].blank? %>
  <p><b>Assemblies for Pedigree <u><%= Pedigree.find(params[:pedigree_filter][:id]).name %></u></b></p>
<% end %>
<div id="filter_table">
  <%= render 'list', :assemblies => @assemblies %>
</div>
<br />

<%= link_to 'New Assembly', new_assembly_path %>
