<div style="width: 460px; float:left;">
    <%= image_tag("gms_logo.png", :alt => "GMS", :class => "logo") %>
</div>
<% #<div style="width:280px; float:left;"> %>
    <% #render 'partials/authentication' %>
<% #</div> %>
<div style="clear: both;"></div>
